body {
    font-family: 'Hind', sans-serif;
}

.cell {
    /*border:1px solid black;*/
}

.grid-container {
    /*background-color: yellow;*/
    border: 2px solid black;
    max-width: none;
}

.cover-background {
    width: 100vw;
    height: 100vh;
    background-color: #AF001E;
}

.cover-center {
    margin: auto;
    text-align: center;
}

.question-end {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 2em;
}

.person {
    text-align: center;
}

.name-header {
    height: 100px;
}

.description-text {
    height: 260px;
}

/*headings*/

h1 {
    font-size: 6em;
    color: #222222;
}

h2 {
    font-size: 3em;
    color: #555555;
}

h3 {
    font-size: 3em;
    color: #AF001E;
    margin-bottom: 10px;
}

h4 {
    font-size: 2.6em;
    color: #AF001E;
    margin: 0;
}

h5 {
    font-size: 2em;
    color: #AF001E;
}


img.img-person {
    height: 300px;
    width: 300px;
}

a.btn {
    background-color: #AF001E; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /*font-family: 'Hind', sans-serif;*/
}

.button {
    text-align: center;

}
