body {
    font-family: 'Hind', sans-serif;
}

.cell {
    /*border:1px solid black;*/
}

.grid-container {
    /*background-color: yellow;*/
    border: 2px solid black;
    max-width: none;
}

.cover-background {
    width: 100vw;
    height: 100vh;
    background-color: #AF001E;
}

.cover-center {
    margin: auto;
    text-align: center;
}

.person {
    text-align: center;
}

.name-header {
    height: 100px;
}

.description-text {
    height: 260px;
}

/*headings*/

h1 {
    font-size: 6em;
    color: #222222;
}

h2 {
    font-size: 3em;
    color: #555555;
}

img.img-person {
    height: 300px;
    width: 300px;
}
