.cell {
    border:1px solid black;
}

.cover-sevi {
    width: 100vw;
    height: 100vh;
    background:url(../img/cover.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

